body {
  font-family: calibri;
}

input {
  height: 25px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 0px 5px 5px;
}

#login {
  background-color: #F5F5F5;
  border-bottom: 1px solid #dddfe2;
  border-radius: 0 0 5px 5px;
  width: 30%;
  position: absolute;
  top: 30%;
  left: calc(50% - 15%);
  border-radius: 5px 5px 0 0;
  margin-bottom: 50px;
}

#login .top-box {
  background-color: #6699ff;
  border-bottom: 1px solid #dddfe2;
  border-radius: 5px 5px 0 0;
  text-align: center;
  font-size: 30px;
  color: #fff;
}

#login .left-button {
}

#registrationForm {
  display: none;
}

.bold {
  font-weight: bold;
}

.p5 {
  padding: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.p20 {
  padding: 20px;
}

.w-100 {
  width: 100%;
}

.clear {
  display: block;
  content: "";
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button {
  display: inline-block;
  padding: 5px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #6699ff;
  border: none;
  border-radius: 15px;
}

.button:hover {
  background-color: #3377ff;
}

.button:active {
  background-color: #3377ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.bar {
  width: 100%;
  height: 50px;
  background-color: #6699ff;
  border-bottom: 1px solid #dddfe2;
}

.logoutImage {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-top: 9px;
}

.pointer {
  cursor: pointer;
}

.btn {
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 8px;
}
/* Style buttons */
.btn-blue {
  background-color: #6699ff; /* Blue background */
}

/* Darker background on mouse-over */
.btn-blue:hover {
  background-color: RoyalBlue;
}
button.btn-player.btn.btn-blue.btn-player-selected{
    background-color:rgb(65, 225, 92) !important;
}
button.btn-amount.btn.btn-blue.btn-amount-selected{
    background-color:rgb(65, 225, 92) !important;
}
button.btn-player-confirmed{
    background-color:rgb(65, 225, 92) !important;
}
button.btn-amount-confirmed{
    background-color:rgb(65, 225, 92) !important;
}
.profile{
  padding: 0;
  color: white;
  margin: 0;
  font-weight: bold;
  font-size: larger;
  margin-top:12px;
  margin-left:12px;
}
/*====================================================*/
.btn-green {
  background-color: #66ffb3; /* Green background */
}

.btn-green:hover {
  background-color: rgb(65, 225, 92);
}

.bet-container {
  margin: auto;
  width: 50%;
}
.bet-container-player { 
  margin: 0 auto; 
  width: 560;
  text-align: center;
}

.bet-container-amount {
  margin: 0 auto; 
  width: 560;
  text-align: center;
}
.bet-container-finish {
  margin: 0 auto; 
  width: 560;
  text-align: center;
}

#line-path {
    width: 100%;
    height: 3px;
    margin-top: -3px;
    background: rgba(191, 187, 186, 1);
}

#line-animation {
    height: 3px;
    width: 100%;
    background-color:#6be66b;
}
.text-center {
    text-align: center;
}
.line-duration-number {
    width: 30px;
}

.btn:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: no-drop;
}
/**************Popup******************/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px 16px;
  background-color: #6699ff;
  color: white;
  text-align: center;
}

.modal-body {
  padding: 2px 16px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}
/**************Popup******************/
